*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    margin-right: 290px ;
    color: #359381;
    pointer-events: none;
}

.navi a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navi a:hover,
.navi a.active{
    background-color: #359381;
    color: #f9f9f9;
    border-radius: 20px;
}